<!-- =============================== Banner Two Start ================================== -->
<section class="banner-two position-relative">
    <img src="assets/images/shapes/cloud-shape.png" alt="Cloud Shape" class="position-absolute bottom-0 start-0 w-100 ">
    
    <div class="banner-two__inner position-relative">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div class="banner-two-content">
                        <div class="bg-white-06 tw-py-3 tw-px-305 tw-rounded text-white fw-medium text-capitalize tw-leading-none cursor-small d-inline-flex align-items-center tw-gap-2 tw-mb-405">
                            <span class="tw-w-205 tw-h-205 bg-yellow rounded-circle"></span>
                            Up to <span class="text-yellow">70%</span> off managed cloud hosting
                        </div>
                        <h1 class="text-white text-capitalize cursor-big">Organized cloud & <span class="text-yellow font-dm-serif fst-italic fw-normal">web hosting</span> for your business</h1>
                        <p class="text-neutral-300 tw-mt-8 max-w-388-px fw-medium">Touch the success! Domain and Secure Web Hosting from <span class="text-yellow">$4.99</span> per month</p>
    
                        <div class="d-flex align-items-center tw-gap-7 tw-mt-11">
                            <a href="register.html" class="cursor-small hover--translate-y-1 active--translate-y-scale-9 btn btn-main hover-style-one button--stroke d-lg-flex d-none align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-px-15 rounded-pill tw-py-505" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Clients Area</span>
                            </a>
                            <p class="text-neutral-300 max-w-388-px fw-medium">Starting at only <span  class="text-yellow">$3.27/mo*</span> </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="banner-two-thumb">
                        <img src="assets/images/thumbs/banner-two-img.png" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============================== Banner Two End ================================== -->