<!-- =============================== FAQ section start ============================== -->
<section class="faq py-120 position-relative z-1 overflow-hidden">
    <img src="assets/images/shapes/faq-bg.png" alt="" class="position-absolute tw-start-0 top-0 w-100 h-100 z-n1">
    
    <div class="container">
        <div class="tw-mb-13">
            <span class="tw-py-1 tw-px-705 bg-white text-main-600 tw-text-sm fw-bold text-capitalize rounded-pill tw-mb-205 cursor-small">tech solution</span>
            <div class="d-flex flex-lg-nowrap flex-wrap justify-content-between align-items-center">
                <div class="max-w-672-px">
                    <h3 class="splitTextStyleOne fw-light tw-leading-104 cursor-big"> 
                        <span class="d-inline-block fw-semibold">The Complete </span> 
                        <span class="d-inline-block">Platform </span> 
                        <span class="d-inline-block fw-semibold">To </span> 
                        <span class="d-inline-block fw-semibold"> Power </span> 
                        <span class="d-inline-block fw-semibold">Your </span> 
                        <span class="d-inline-block fw-semibold">Operations</span> 
                    </h3>
                </div>
                <a href="register.html" class="cursor-big hover--translate-y-1 active--translate-y-scale-9 btn btn-main hover-style-one button--stroke d-sm-inline-flex d-none align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-px-56-px tw-py-5 fw-semibold rounded-pill" data-block="button">
                    <span class="button__flair"></span>
                    <span class="button__label">Sign up Now</span>
                </a>
            </div>
        </div>
        
        <div class="row gy-4">
            <div class="col-lg-5">
                <p class="splitTextStyleOne text-neutral-600 max-w-500-px tw-mb-15 cursor-small">In today's competitive business, the demand for efficient and cost-effective IT solutions has never been more critical.</p>
                <div class="accordion common-accordion" id="accordionExample">
                    <div class="accordion-item tw-py-8 tw-px-40-px tw-rounded-xl bg-transparent border-0 mb-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                      <h5 class="accordion-header tw-mb-4">
                        <button class="accordion-button shadow-none cursor-small p-0 bg-transparent h5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Tailored solution
                        </button>
                      </h5>
                      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body p-0">
                          <p class="text-neutral-500 cursor-small">We customize our technology to fit your specific need ensuring the best possible outcomes.</p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item tw-py-8 tw-px-40-px tw-rounded-xl bg-transparent border-0 mb-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                      <h5 class="accordion-header tw-mb-4">
                        <button class="accordion-button shadow-none cursor-small p-0 bg-transparent h5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Cutting-edge technology
                        </button>
                      </h5>
                      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body p-0">
                          <p class="text-neutral-500 cursor-small">We customize our technology to fit your specific need ensuring the best possible outcomes.</p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item tw-py-8 tw-px-40-px tw-rounded-xl bg-transparent border-0 mb-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                      <h5 class="accordion-header tw-mb-4">
                        <button class="accordion-button shadow-none cursor-small p-0 bg-transparent h5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Discovery & Analysis
                        </button>
                      </h5>
                      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body p-0">
                          <p class="text-neutral-500 cursor-small">We customize our technology to fit your specific need ensuring the best possible outcomes.</p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item tw-py-8 tw-px-40-px tw-rounded-xl bg-transparent border-0 mb-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                      <h5 class="accordion-header tw-mb-4">
                        <button class="accordion-button shadow-none cursor-small p-0 bg-transparent h5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Deployment & Support
                        </button>
                      </h5>
                      <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body p-0">
                          <p class="text-neutral-500 cursor-small">We customize our technology to fit your specific need ensuring the best possible outcomes.</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="position-relative tw-pb-8 tw-ps-12 h-100">
                    <div class="bg-white tw-p-205 tw-rounded-3xl h-100 tw-min-h-400-px">
                        <img src="assets/images/thumbs/faq-img.png" alt="Image" class="w-100 h-100 object-fit-cover tw-rounded-2xl" data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="2000">
                    </div>
                    <img src="assets/images/thumbs/faq-img-1.png" alt="" class="position-absolute top-0 tw-end-0 tw-mt-9 tw--me-48-px">
                    <img src="assets/images/thumbs/faq-img-2.png" alt="" class="position-absolute bottom-0 tw-end-0 tw--me-32-px">
                    <img src="assets/images/thumbs/faq-img-3.png" alt="" class="position-absolute bottom-0 tw-start-0 tw--ms-24-px">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============================== FAQ section end ============================== -->

