<!-- ============================ Features Four section start ============================ -->
<section class="features-four py-120 position-relative z-1">
    <div class="max-w-1820-px mx-auto">
        <img src="assets/images/bg/mash-gradient-bg2.png" alt="Mash Gradient BG" class="w-100 h-100">

        <div class="container">
            <div class="tw-mb-12 max-w-570-px">
                <h4 class="mb-0 fw-bold line-clamp-1 font-caveat text-capitalize text-crm">with the world's favorite CRM</h4>
                <h2 class="splitTextStyleOne text-heading text-capitalize">
                    improve customer relationships today
                </h2>
            </div>

        </div>
    </div>
</section>
<!-- ============================ Features Four section End ============================ -->

