<!-- ==================== Header Two Start Here ==================== -->
<header class="header home-two-header @@headerClass">
    <div class="container">
        <div class="py-2 py-lg-0 tw-gap-4 tw-lg-ps-12 ps-4 tw-pe-705 bg-white transition-all tw-rounded-lg">
            <nav class="d-flex align-items-center justify-content-between">
                <!-- Logo Start -->
                <div class="logo">
                    <a href="index.html" class="link cursor-big hover--translate-y-1 active--translate-y-scale-9">
                        <img src="assets/images/logo/@@logoText" alt="Logo" class="max-w-200-px">
                    </a>
                </div>
                <!-- Logo End  -->
    
                <!-- Menu Start  -->
                <div class="header-menu d-lg-block d-none">
                    @@include('../partials/@@navMenu', {
                        "class" : "tw-gap-7"
                    })
                    <!-- @@include('../partials/_nav-menu-two.html', {
                        "class" : "tw-gap-7"
                    }) -->
                </div>
                <!-- Menu End  -->
                
                <!-- Header Right start -->
                 <div class="d-flex align-items-center tw-gap-6">
                    <div class="d-flex align-items-center tw-gap-6">
                        <a href="login.html" class="d-flex align-items-center tw-gap-105 d-xl-flex d-none cursor-small text-heading hover-text-main-600">
                            <span class="tw-text-base text-main-600 d-flex tw-leading-none">
                                <i class="ph-bold ph-user"></i>
                            </span>
                            <span class="fw-semibold tw-text-sm ">Sign in</span>
                        </a>

                        <a href="register.html" class="cursor-big hover--translate-y-1 active--translate-y-scale-9 btn button--stroke d-lg-flex d-none align-items-center justify-content-center tw-gap-5 group active--translate-y-2 px-xxl-5 px-xl-4 px-3 tw-py-405 fw-medium @@btnClass" data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Get Started</span>
                        </a>
                    </div>
                    <button type="button" class="toggle-mobileMenu leading-none d-lg-none text-neutral-800 tw-text-9"> 
                        <i class="ph ph-list"></i>
                    </button>
                 </div>
                <!-- Header Right End  -->
            </nav>
        </div>
    </div>
</header>
<!-- ==================== Header Two End Here ==================== -->