<!-- Nav menu Three Start -->
<ul class="nav-menu d-lg-flex align-items-center @@class">
    <li class="nav-menu__item has-submenu position-relative activePage">
        <a href="javascript:void(0)" class="nav-menu__link hover--translate-y-1 tw-pe-5 text-white tw-py-9 fw-semibold w-100">Home</a>
        <ul class="nav-submenu scroll-sm position-absolute tw-start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-y-auto tw-p-2 tw-mt-4 tw-duration-200 tw-z-99">
            <li class="nav-menu__item activePage">
                <a href="index.html" class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                   IT Solution
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="index-2.html" class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                   Web Hosting
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="index-3.html" class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                   Task Management
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="index-4.html" class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    CRM Software
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu position-relative">
        <a href="javascript:void(0)" class="nav-menu__link hover--translate-y-1 tw-pe-5 text-white tw-py-9 fw-semibold w-100">Pages</a>
         <ul class="nav-submenu scroll-sm position-absolute tw-start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-y-auto tw-p-2 tw-mt-4 tw-duration-200 tw-z-99">
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="pricing-plan.html" class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Pricing
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="about.html" class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    About Us
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="app-intigration.html" class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    App Integration
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="intigration-details.html" class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Integration Details
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="policy-privacy.html" class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Privacy Policy
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="faq.html" class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    FAQ
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="project-details.html" class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Project Details
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="service-details.html" class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Service Details
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu position-relative">
        <a href="javascript:void(0)" class="nav-menu__link hover--translate-y-1 tw-pe-5 text-white tw-py-9 fw-semibold w-100">Portfolio</a>
         <ul class="nav-submenu scroll-sm position-absolute tw-start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-y-auto tw-p-2 tw-mt-4 tw-duration-200 tw-z-99">
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="javascript:void(0)" class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Portfolio 
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu position-relative">
        <a href="javascript:void(0)" class="nav-menu__link hover--translate-y-1 tw-pe-5 text-white tw-py-9 fw-semibold w-100">Shop</a>
         <ul class="nav-submenu scroll-sm position-absolute tw-start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-y-auto tw-p-2 tw-mt-4 tw-duration-200 tw-z-99">
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="shop.html" class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Shop
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="shop-details.html" class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Shop Details
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="cart.html" class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Cart
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="checkout.html" class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Checkout
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu position-relative">
        <a href="javascript:void(0)" class="nav-menu__link hover--translate-y-1 tw-pe-5 text-white tw-py-9 fw-semibold w-100">Blog</a>
         <ul class="nav-submenu scroll-sm position-absolute tw-start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-y-auto tw-p-2 tw-mt-4 tw-duration-200 tw-z-99">
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="blog.html" class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Blog 
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="blog-details.html" class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Blog Details
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item">
        <a href="contact.html" class="nav-menu__link hover--translate-y-1 text-white tw-py-9 fw-semibold w-100">Contact</a>
    </li>
</ul>
<!-- Nav menu Three End  -->
