<!-- ========================= Pricing plan five section start ============================= -->
<section class="pricing-five py-120 bg-white">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="border border-neutral-200 tw-rounded-xl position-relative tw-p-44-px animation-item group-item group hover-border-main-600 tw-duration-200 d-flex align-items-center tw-gap-48-px">
                    <span class="tw-w-16 tw-h-16 bg-main-50 tw-rounded-md d-flex justify-content-center align-items-center group-hover-bg-main-600 tw-duration-200 flex-shrink-0">
                        <img src="assets/images/icons/pricing-five-icon1.svg" alt="Icon" class="group-hover-item-text-invert tw-transition tw-duration-200 animate__heartBeat">
                    </span>
                    <div class="flex-grow-1">  
                        <span class="text-heading fw-medium tw-py-05 tw-px-405 border border-neutral-400 rounded-pill tw-text-base">02 Apr 2021</span>
                        <h4 class="tw-mt-4"> Weekly package </h4>
                        <p class="text-neutral-600 tw-text-lg tw-mt-3 fw-medium max-w-432-px">Subscription fee is $129.99 USD and automatically renews each year.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= Pricing plan five section End ============================= -->