<!-- =========================== Roadmap section start ========================== -->
<section class="py-120 section-bg-one">
    <div class="container">
        
        <!-- Global Increase Start -->
         <div class="">
            <h2 class="splitTextStyleOne fw-light tw-leading-104 cursor-big tw-mb-14"> 
                <span class="d-inline-block ">We Makes Globally  </span> 
                <span class="d-inline-block fw-semibold"> Growth & Increase  </span> 
                <span class="d-inline-block ">Revenue</span> 
            </h2>
            <div class="d-flex flex-wrap">

                <div class="tw-min-h-184-px bg-main-600 tw-py-4 tw-px-4 rounded-pill text-center max-w-388-px w-100" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1600">
                    <h3 class="h1 text-white tw-mb-4 fw-medium">$29k</h3>
                    <p class="text-white max-w-228-px mx-auto">Average revenue growth for per successful clients</p>
                </div>
                
                <div class="tw-min-h-184-px bg-main-600 tw-py-4 tw-px-4 rounded-pill max-w-514-px w-100 d-flex align-items-center tw-gap-505 justify-content-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1800">
                    <h3 class="h1 text-white tw-mb-4 fw-medium d-inline-flex align-items-center tw-gap-4"> 
                        <img src="assets/images/icons/arrow-up-green.svg" alt=""> 
                        88%
                    </h3>
                    <p class="text-white max-w-194-px ">Average revenue growth for per successful clients</p>
                </div>

                <div class="tw-min-h-184-px bg-white tw-py-4 tw-px-4 rounded-pill max-w-388-px w-100 d-flex align-items-center tw-gap-505 justify-content-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="2000">
                    <h3 class="h1 text-main-600 fw-medium d-inline-flex align-items-center tw-gap-4">3x</h3>
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="text-main-two-600 tw-text-2xl fw-semibold ">//</span>
                        <p class="text-main-two-600 max-w-194-px "> Faster time to launch</p>
                    </div>
                </div>

                <div class="tw-min-h-184-px bg-white tw-py-4 tw-px-4 rounded-pill max-w-490-px w-100 d-flex align-items-center tw-gap-505 justify-content-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1600">
                    <h3 class="h1 text-main-600 fw-medium d-inline-flex align-items-center tw-gap-4">50%</h3>
                    <p class="text-main-two-600 max-w-194-px ">Effective in financial growth than before growth</p>
                </div>

                <div class="tw-min-h-184-px bg-main-600 tw-py-4 tw-px-4 rounded-pill text-center max-w-288-px w-100 tw-mt-1" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1800">
                    <h3 class="h1 text-white tw-mb-4 fw-medium">95%</h3>
                    <p class="text-white max-w-228-px mx-auto">Average positive review</p>
                </div>

                <div class="tw-min-h-184-px bg-white tw-py-4 tw-px-4 rounded-pill max-w-514-px w-100 d-flex align-items-center tw-gap-505 justify-content-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="2000">
                    <h3 class="h1 text-main-600 fw-medium d-inline-flex align-items-center tw-gap-4">1.3m</h3>
                    <div class="d-flex align-items-center tw-gap-2">
                        <p class="text-main-two-600 max-w-194-px ">Average revenue growth for per successful clients</p>
                    </div>
                </div>

            </div>
         </div>
        <!-- Global Increase End -->
    </div>
</section>
<!-- =========================== Roadmap section End ========================== -->