<!-- =========================== Roadmap section start ========================== -->
<section class="py-120 section-bg-one">
    <div class="container max-w-1440-px">
        
        <!-- what we do Start -->
        <div class="bg-main-two-600 tw-rounded-3xl overflow-hidden position-relative" id="roadmap-section">
            <div class="tw-ps-74-px tw-pe-6 ">
                <div class="d-flex flex-xl-nowrap flex-wrap tw-gap-126-px">
                    <div class="max-w-432-px w-100 flex-shrink-0">
                        <div class="pt-120 tw-pb-9 position-relative">
                            <img src="assets/images/shapes/curve-arrow-white.png" alt="Arrow" class="position-absolute top-0 tw-end-0 animate__wobble__two">
                            
                            <span class="tw-py-1 tw-px-705 bg-white-13 text-white tw-text-sm fw-semibold text-capitalize rounded-pill tw-mb-3 cursor-small">What we do</span>
                            <h3 class="splitTextStyleOne fw-light tw-leading-104 cursor-big text-white tw-mb-6"> 
                                <span class="d-inline-block fw-semibold">Working Roadmap</span> 
                            </h3>
                            <p class="splitTextStyleOne text-neutral-400 max-w-432-px cursor-small">In today's competitive business, the demand for efficient and cost-effective IT solutions has never been more critical.</p>
                            <div class="tw-mt-11 d-flex align-items-center tw-gap-42-px flex-wrap">
                                <a href="register.html" class="cursor-small hover--translate-y-1 active--translate-y-scale-9 btn btn-main hover-style-three button--stroke d-sm-inline-flex d-none align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-px-56-px tw-py-5 fw-semibold rounded-pill" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" data-aos-delay="600" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label">Get Started</span>
                                </a>
                                <div class="" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" data-aos-delay="800">
                                    <div class="d-flex align-items-center tw-gap-4">
                                        <div class="d-flex align-items-center">
                                            <div class="tw-w-9 tw-h-9 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-9 position-relative z-2">
                                                <img src="assets/images/thumbs/client-img1.png" alt="Client Image" class="w-100 h-100 object-fit-cover">
                                            </div>
                                            <div class="tw-w-9 tw-h-9 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-9 position-relative tw--ms-10-px z-1">
                                                <img src="assets/images/thumbs/client-img2.png" alt="Client Image" class="w-100 h-100 object-fit-cover">
                                            </div>
                                            <div class="tw-w-9 tw-h-9 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-9 position-relative tw--ms-10-px">
                                                <img src="assets/images/thumbs/client-img3.png" alt="Client Image" class="w-100 h-100 object-fit-cover">
                                            </div>
                                        </div>
                                        <span class="h5 cursor-small counter text-white">2.3M+</span>
                                    </div>
                                    <p class="fw-bold tw-text-sm font-heading text-heading tw-mt-2 cursor-small counter text-white">5000+ Client reviews</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex-grow-1">
                        <div class="d-flex tw-gap-3 flex-wrap">

                            <div class="ball text-center rounded-circle tw-w-180-px tw-h-180-px tw-w-180-px d-flex flex-column justify-content-center align-items-center position-relative animation-item bg-main-600 tw-mt-705">
                                <span class="tw-h-6 tw-w-6 bg-sky rounded-circle text-white fw-medium tw-text-xs d-flex justify-content-center align-items-center position-absolute top-0 tw-start-0 tw-mt-6 tw-ms-2 cursor-small">01</span>
                                <img src="assets/images/icons/roadmap-icon1.svg" alt="Icon" class="animate__swing cursor-small">
                                <h6 class="tw-text-base text-white tw-mt-4 fw-medium cursor-small max-w-118-px mx-auto">Brainstorming</h6>
                            </div>

                            <div class="ball text-center rounded-circle tw-w-180-px tw-h-180-px tw-w-180-px d-flex flex-column justify-content-center align-items-center position-relative animation-item bg-dark-deep tw--mt-8-px">
                                <span class="tw-h-6 tw-w-6 bg-sky rounded-circle text-white fw-medium tw-text-xs d-flex justify-content-center align-items-center position-absolute top-0 tw-start-0 tw-mt-6 tw-ms-2 cursor-small">02</span>
                                <img src="assets/images/icons/roadmap-icon2.svg" alt="Icon" class="animate__swing cursor-small">
                                <h6 class="tw-text-base text-white tw-mt-4 fw-medium cursor-small max-w-118-px mx-auto">UX <br> Research</h6>
                            </div>

                            <div class="ball text-center rounded-circle tw-w-180-px tw-h-180-px tw-w-180-px d-flex flex-column justify-content-center align-items-center position-relative animation-item bg-sky-deep tw-mt-505">
                                <span class="tw-h-6 tw-w-6 bg-sky rounded-circle text-white fw-medium tw-text-xs d-flex justify-content-center align-items-center position-absolute top-0 tw-start-0 tw-mt-6 tw-ms-2 cursor-small">03</span>
                                <img src="assets/images/icons/roadmap-icon3.svg" alt="Icon" class="animate__swing cursor-small">
                                <h6 class="tw-text-base text-white tw-mt-4 fw-medium cursor-small max-w-118-px mx-auto">Product Designing</h6>
                            </div>

                            <div class="ball text-center rounded-circle tw-w-180-px tw-h-180-px tw-w-180-px d-flex flex-column justify-content-center align-items-center position-relative animation-item bg-dark-deep tw--mt-28-px">
                                <span class="tw-h-6 tw-w-6 bg-sky rounded-circle text-white fw-medium tw-text-xs d-flex justify-content-center align-items-center position-absolute top-0 tw-start-0 tw-mt-6 tw-ms-2 cursor-small">04</span>
                                <img src="assets/images/icons/roadmap-icon4.svg" alt="Icon" class="animate__swing cursor-small">
                                <h6 class="tw-text-base text-white tw-mt-4 fw-medium cursor-small max-w-118-px mx-auto">Front-End Development</h6>
                            </div>

                            <div class="ball text-center rounded-circle tw-w-180-px tw-h-180-px tw-w-180-px d-flex flex-column justify-content-center align-items-center position-relative animation-item bg-dark-deep tw-mt-8">
                                <span class="tw-h-6 tw-w-6 bg-sky rounded-circle text-white fw-medium tw-text-xs d-flex justify-content-center align-items-center position-absolute top-0 tw-start-0 tw-mt-6 tw-ms-2 cursor-small">05</span>
                                <img src="assets/images/icons/roadmap-icon5.svg" alt="Icon" class="animate__swing cursor-small">
                                <h6 class="tw-text-base text-white tw-mt-4 fw-medium cursor-small max-w-118-px mx-auto">Usability <br> Testing</h6>
                            </div>

                            <div class="ball text-center rounded-circle tw-w-180-px tw-h-180-px tw-w-180-px d-flex flex-column justify-content-center align-items-center position-relative animation-item bg-pink tw--mt-8-px">
                                <span class="tw-h-6 tw-w-6 bg-sky rounded-circle text-white fw-medium tw-text-xs d-flex justify-content-center align-items-center position-absolute top-0 tw-start-0 tw-mt-6 tw-ms-2 cursor-small">06</span>
                                <img src="assets/images/icons/roadmap-icon6.svg" alt="Icon" class="animate__swing cursor-small">
                                <h6 class="tw-text-base text-white tw-mt-4 fw-medium cursor-small max-w-118-px mx-auto">Back-End Development</h6>
                            </div>
                            
                            <div class="ball text-center rounded-circle tw-w-180-px tw-h-180-px tw-w-180-px d-flex flex-column justify-content-center align-items-center position-relative animation-item bg-main-600 tw-mt-4">
                                <span class="tw-h-6 tw-w-6 bg-sky rounded-circle text-white fw-medium tw-text-xs d-flex justify-content-center align-items-center position-absolute top-0 tw-start-0 tw-mt-6 tw-ms-2 cursor-small">07</span>
                                <img src="assets/images/icons/roadmap-icon7.svg" alt="Icon" class="animate__swing cursor-small">
                                <h6 class="tw-text-base text-white tw-mt-4 fw-medium cursor-small max-w-118-px mx-auto">SEO Optimization</h6>
                            </div>

                            <div class="ball text-center rounded-circle tw-w-180-px tw-h-180-px tw-w-180-px d-flex flex-column justify-content-center align-items-center position-relative animation-item bg-sky-deep tw--mt-28-px">
                                <span class="tw-h-6 tw-w-6 bg-sky rounded-circle text-white fw-medium tw-text-xs d-flex justify-content-center align-items-center position-absolute top-0 tw-start-0 tw-mt-6 tw-ms-2 cursor-small">08</span>
                                <img src="assets/images/icons/roadmap-icon8.svg" alt="Icon" class="animate__swing cursor-small">
                                <h6 class="tw-text-base text-white tw-mt-4 fw-medium cursor-small max-w-118-px mx-auto">Digital Marketing</h6>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="tw-pb-9">
                <img src="assets/images/shapes/curve-line.png" alt="" class="w-100">
            </div>
        </div>
        <!-- what we do end -->

        <!-- Global Increase Start -->
         <div class="pt-120">
            <h3 class="splitTextStyleOne fw-light tw-leading-104 cursor-big tw-mb-14 text-center"> 
                <span class="d-inline-block ">We Makes Globally  </span> 
                <span class="d-inline-block fw-semibold"> Growth & Increase  </span> 
                <span class="d-inline-block ">Revenue</span> 
            </h3>
            <div class="d-flex flex-wrap justify-content-center">

                <div class="tw-min-h-184-px bg-main-600 tw-py-4 tw-px-4 rounded-pill text-center max-w-388-px w-100" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="300">
                    <h3 class="h1 cursor-big text-white tw-mb-4 fw-medium">$29k</h3>
                    <p class="text-white cursor-small max-w-228-px mx-auto">Average revenue growth for per successful clients</p>
                </div>
                
                <div class="tw-min-h-184-px bg-main-600 tw-py-4 tw-px-4 rounded-pill max-w-514-px w-100 d-flex align-items-center tw-gap-505 justify-content-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="500">
                    <h3 class="h1 cursor-big text-white tw-mb-4 fw-medium d-inline-flex align-items-center tw-gap-4"> 
                        <img src="assets/images/icons/arrow-up-green.svg" alt=""> 
                        88%
                    </h3>
                    <p class="text-white cursor-small max-w-194-px ">Average revenue growth for per successful clients</p>
                </div>

                <div class="tw-min-h-184-px bg-white tw-py-4 tw-px-4 rounded-pill max-w-388-px w-100 d-flex align-items-center tw-gap-505 justify-content-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="700">
                    <h3 class="h1 cursor-big text-main-600 fw-medium d-inline-flex align-items-center tw-gap-4">3x</h3>
                    <div class="d-flex align-items-center tw-gap-2">
                        <span class="text-main-two-600 tw-text-2xl fw-semibold ">//</span>
                        <p class="text-main-two-600 cursor-small max-w-194-px "> Faster time to launch</p>
                    </div>
                </div>

                <div class="tw-min-h-184-px bg-white tw-py-4 tw-px-4 rounded-pill max-w-490-px w-100 d-flex align-items-center tw-gap-505 justify-content-center border border-main-50" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="300">
                    <h3 class="h1 cursor-big text-main-600 fw-medium d-inline-flex align-items-center tw-gap-4">50%</h3>
                    <p class="text-main-two-600 cursor-small max-w-194-px ">Effective in financial growth than before growth</p>
                </div>

                <div class="tw-min-h-184-px bg-main-600 tw-py-4 tw-px-4 rounded-pill text-center max-w-288-px w-100 tw-mt-1" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="500">
                    <h3 class="h1 cursor-big text-white tw-mb-4 fw-medium">95%</h3>
                    <p class="text-white cursor-small max-w-228-px mx-auto">Average positive review</p>
                </div>

                <div class="tw-min-h-184-px bg-white tw-py-4 tw-px-4 rounded-pill max-w-514-px w-100 d-flex align-items-center tw-gap-505 justify-content-center border border-main-50" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" data-aos-delay="700">
                    <h3 class="h1 cursor-big text-main-600 fw-medium d-inline-flex align-items-center tw-gap-4">1.3m</h3>
                    <div class="d-flex align-items-center tw-gap-2">
                        <p class="text-main-two-600 cursor-small max-w-194-px ">Average revenue growth for per successful clients</p>
                    </div>
                </div>

            </div>
         </div>
        <!-- Global Increase End -->
    </div>
</section>
<!-- =========================== Roadmap section End ========================== -->