<!-- ========================== Search Domain Start ============================== -->
<section class="search-domain">
    <div class="container">
        <div class="bg-white shadow tw-pt-10 tw-pb-16 tw-px-88-px">
            <h3 class="text-center tw-mb-4 text-capitalize">Search and buy a <span class="text-yellow font-dm-serif fst-italic fw-normal">domain</span> in minutes</h3>
            <div class="text-center">
                <ul class="nav nav-pills active-purple d-inline-flex border border-neutral-200 rounded-pill tw-mb-6" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link rounded-pill tw-px-6 tw-py-305 fw-semibold text-heading hover-text-main-600 h-100 active" id="pills-FindNewDomain-tab" data-bs-toggle="pill" data-bs-target="#pills-FindNewDomain" type="button" role="tab" aria-controls="pills-FindNewDomain" aria-selected="true">Find New Domain</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link rounded-pill tw-px-6 tw-py-305 fw-semibold text-heading hover-text-main-600 h-100" id="pills-GeneratedomainusingAI-tab" data-bs-toggle="pill" data-bs-target="#pills-GeneratedomainusingAI" type="button" role="tab" aria-controls="pills-GeneratedomainusingAI" aria-selected="false"> 
                        <span class="ai-icon tw-me-1">
                            <img src="assets/images/icons/ai-generate.svg" alt="AI Generate">
                        </span>
                        Generate domain using AI
                      </button>
                    </li>
                </ul>
            </div>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-FindNewDomain" role="tabpanel" aria-labelledby="pills-FindNewDomain-tab" tabindex="0">
                    <div class="">
                        <form action="#" class="d-flex tw-gap-6">
                            <div class="position-relative flex-grow-1">
                                <input type="text" class="tw-py-405 tw-px-705 bg-neutral-100 tw-rounded-xl border-transparent placeholder-neutral-600 placeholder-18-px w-100" placeholder="Enter your desire domain name">
                                <select class="form-control form-select w-auto border-0 tw-py-1 tw-pe-305 shadow-none form-select-arrow-end position-absolute tw-end-0 top-50 translate-middle-y bg-transparent tw-me-705">
                                    <option value=".com">.com</option>
                                    <option value=".cloud">.cloud</option>
                                    <option value=".shop">.shop</option>
                                    <option value=".online">.online</option>
                                    <option value=".info">.info</option>
                                </select>
                            </div>
                            <button type="submit" class="cursor-small hover--translate-y-1 active--translate-y-scale-9 btn btn-main hover-style-one button--stroke d-lg-flex d-none align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-px-15 tw-rounded-lg tw-py-505 text-white">Search</button>
                        </form>
                        <div class="overflow-x-max-lg-auto scroll-sm scroll-sm-horizontal pb-sm-0 pb-1">
                            <div class="tw-mt-6 d-grid grid-col-5 min-w-max">
                                <div class="text-center tw-py-205 tw-px-5 border-bottom hover-common-shadow-four border-top border-neutral-200 border-end border-start">
                                    <img src="assets/images/thumbs/domain-img1.png" alt="Domain Logo">
                                    <span class="d-block text-neutral-600 tw-mt-105 tw-mb-1">Starting price</span>
                                    <span class="d-block text-neutral-700 tw-mt-1 tw-text-sm fw-semibold">$13.34/Yearly</span>
                                </div>
                                <div class="text-center tw-py-205 tw-px-5 border-bottom hover-common-shadow-four border-top border-neutral-200 border-end">
                                    <img src="assets/images/thumbs/domain-img2.png" alt="Domain Logo">
                                    <span class="d-block text-neutral-600 tw-mt-105 tw-mb-1">Starting price</span>
                                    <span class="d-block text-neutral-700 tw-mt-1 tw-text-sm fw-semibold">$14.34/Yearly</span>
                                </div>
                                <div class="text-center tw-py-205 tw-px-5 border-bottom hover-common-shadow-four border-top border-neutral-200 border-end">
                                    <img src="assets/images/thumbs/domain-img3.png" alt="Domain Logo">
                                    <span class="d-block text-neutral-600 tw-mt-105 tw-mb-1">Starting price</span>
                                    <span class="d-block text-neutral-700 tw-mt-1 tw-text-sm fw-semibold">$13.34/Yearly</span>
                                </div>
                                <div class="text-center tw-py-205 tw-px-5 border-bottom hover-common-shadow-four border-top border-neutral-200 border-end">
                                    <img src="assets/images/thumbs/domain-img4.png" alt="Domain Logo">
                                    <span class="d-block text-neutral-600 tw-mt-105 tw-mb-1">Starting price</span>
                                    <span class="d-block text-neutral-700 tw-mt-1 tw-text-sm fw-semibold">$13.34/Yearly</span>
                                </div>
                                <div class="text-center tw-py-205 tw-px-5 border-bottom hover-common-shadow-four border-top border-neutral-200 border-end">
                                    <img src="assets/images/thumbs/domain-img5.png" alt="Domain Logo">
                                    <span class="d-block text-neutral-600 tw-mt-105 tw-mb-1">Starting price</span>
                                    <span class="d-block text-neutral-700 tw-mt-1 tw-text-sm fw-semibold">$13.34/Yearly</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-GeneratedomainusingAI" role="tabpanel" aria-labelledby="pills-GeneratedomainusingAI-tab" tabindex="0"> Generate domain using AI</div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Search Domain End ============================== -->