<!-- ========================== Settings Panel start ==================================== -->
<div
  class="settings-panel position-fixed top-50 translate-middle-y tw-end-0 tw-z-999 bg-white"
>
  <button
    type="button"
    class="tw-w-12 tw-h-12 bg-main-600 text-white hover-bg-main-800 tw-duration-100 d-flex justify-content-center align-items-center"
  >
    <span class="tw-text-2xl tw-leading-none animation-rotate tw-w-6 tw-h-6">
      <i class="ph-fill ph-gear-six"></i>
    </span>
  </button>
</div>
<!-- ========================== Settings Panel end ==================================== -->
