<!-- ================================= Task Management Section Start ============================== -->
<section class="task-management bg-pink-more-light-half">
    <div class="container">
        <div class="text-end tw--mb-40-px position-relative z-2">
            <img src="assets/images/thumbs/laptop-man.png" alt="Image" class="tw-me-84-px">
        </div>

        <div class="bg-green-deep tw-rounded-3xl bg-green-deep tw-pt-100-px position-relative z-1">
            <img src="assets/images/shapes/hill-shape.png" alt="Hill Shape" class="position-absolute w-100 h-100 top-0 tw-start-0 z-n1">
            <img src="assets/images/thumbs/task-management-img.png" alt="Image" class="position-absolute tw-end-0 top-0 tw-me-5 tw-mt-5">
            
            <div class="tw-mb-8 text-center max-w-570-px mx-auto">
                <div class="tw-py-3 tw-px-305 rounded-pill fw-medium text-capitalize tw-leading-none cursor-small d-inline-flex align-items-center tw-gap-2 tw-mb-405 min-w-max text-white bg-white-13" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                    <div class="">
                        Up to <span class="text-yellow text-stroke-yellow">70%</span> off managed cloud hosting
                    </div>
                </div>
                <h2 class="splitTextStyleOne text-white cursor-big">
                    Ready to get started? Start your
                    <span class="font-dm-serif fst-italic fw-normal">free trial</span> 
                    now
                </h2>
                <a href="javascript:void(0)" class="cursor-small hover--translate-y-1 active--translate-y-scale-9 btn btn-main hover-style-one button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-px-13 rounded-0 tw-py-6 fw-bold tw-mt-7" data-block="button">
                    <span class="button__flair"></span>
                    <div class="d-flex align-items-center tw-gap-2 z-1">
                        <span class="button__label">Download for free</span>
                    </div>
                </a>
            </div>
            <div class="tw-pt-8 tw-ps-4 text-center"> 
                <img src="assets/images/shapes/animated_features.png" alt="Features">
            </div>
        </div>
    </div>
</section>
<!-- ================================= Task Management Section End ============================== -->