/* Font Size Class Start */
.text {
  &-inherit {
      font-size: inherit;
  }
  &-30-px {
      font-size: clamp(1rem, 0.5569rem + 1.444vw, 1.875rem);;
  }
}

@each $property, $value in $font-sizes {
  .tw-text-#{$property} {
    font-size: $value;
  }
}  
/* Font Size Class End */


@each $property, $value in $spaces {
    .tw-text-#{$property} {
      font-size: $value;
    }
}  
/* Font Size Class End */