/* Height Css Class Start */
@each $property, $value in $spaces {
    .tw-h-#{$property} {
      height: $value;
    }
}

.tw-h {
  &-114-px {
    height: 114px;
  }
  &-300-px {
    height: 300px;
  }
  &-screen {
    height: 100vh;
  }
}

.tw-min-h {
  &-184-px {
    min-height: 184px;
  }
}
/* Height Css Class End */
