/* Max width Css Class Start */
.max-w {
    &-1290-px {
        max-width: 1290px;
    }
    &-1400-px {
        max-width: 1400px;
    }
    &-1440-px {
        max-width: 1440px;
    }
    &-118-px {
        max-width: 118px;
    }
    &-150-px {
        max-width: 150px;
    }
    &-154-px {
        max-width: 154px;
    }
   
    &-194-px {
        max-width: 194px;
    }
    &-200-px {
        max-width: 200px;
    }
    &-218-px {
        max-width: 218px;
    }
    &-228-px {
        max-width: 228px;
    }
    &-288-px {
        @media (min-width: 991px) {
            max-width: 288px;
        }
    }
    &-388-px {
        @media (min-width: 991px) {
            max-width: 388px;
        }
    }
    &-330-px {
        max-width: 330px;
    }
    &-400-px {
        max-width: 400px;
    }
    &-432-px {
        max-width: 432px;
    }
    &-480-px {
        max-width: 480px;
    }
    &-490-px {
        @media (min-width: 991px) {
            max-width: 490px;
        }
    }
    &-500-px {
        max-width: 500px;
    }
    &-532-px {
        max-width: 532px;
    }
    &-570-px {
        max-width: 570px;
    }
    &-514-px {
        @media (min-width: 991px) {
            max-width: 514px;
        }
    }
    &-602-px {
        max-width: 602px;
    }
    &-672-px {
        max-width: 672px;
    }
}
/* Max width Css Class End */