/* =========================== Accordion Css start ============================= */ 
.common-accordion {
    .accordion-item {
        &:not(:last-child) {
            margin-block-end:20px;
        }
    }
}

.accordion-item:has(.accordion-collapse.show), .accordion-item:has(.accordion-button[aria-expanded="true"]) {
    border-left: 4px solid var(--main-600) !important;
    background: #fff !important;
}

.accordion-button::after {
    display: none;
}
/* ================================= Accordion Css End =========================== */